

.chart-container {
    background-color: #f8f8fc;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-bottom: 50px ;
    height: 250px; /* Adjusted height */
  }
  
  .chart-title {
    font-size: 15px;
    color: #1a1a3c;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
  }
  .chart-view{
    margin-bottom: 25px;
  }
  