.size-recommendation {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(72,123,236,1) 0%, rgba(139,77,244,1) 100%);
    color: white;
    padding: 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .size-box {
    background-color: white;
    color: #487BEC;
    font-size: 20px;
    font-weight: bold;
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 0px;
  }
  
  .size-info {
    flex: 1;
    font-size: 12px;
    margin-left: -4px;
    margin-right: -15px;
  }
  
  .shop-link {
    display: flex;
    justify-content: left;
    text-decoration: underline;
  }
  
  .info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border: 1px solid white; /* Dark border */
    border-radius: 50%; /* Circular shape */
    font-size: 12px;
    color: white; /* Dark color */
    font-family: Arial, sans-serif;
  }
/* Outfit */
  .outfit-suggestion {
    display: flex;
    align-items: center;
    background-color:  #F7F8FE;
    color: #2b1b48;
    padding: 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .icon-box {
    background-color: white;
    width: 70px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 0px;
  }
  
  .icon {
    font-size: 20px;
  }
  
  .suggestion-text {
    font-size: 12px;
    display: flex;
    justify-content: left;
    margin-left: -4px;
    margin-right: -15px;
    /* line-height: 1.5; */
  }
  /* chic chac */

  .chic-check {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .rating-circle {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
  }
  
  .description {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .highlight {
    font-weight: bold;
    color: #4a90e2;
  }